@import './styles/variables.css';

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background-color: var(--color-bg);
  color: var(--color-text);
  font-family: var(--font-main);
  margin: 0;
}

a {
  color: inherit;
}
